{% extends 'layout.twig' %}

{% block body %}
  <h2>{{title}}</h2>

  <h3>Question</h3>


  <h4>Vote Tallies</h4>
  <dl>
    <dt>A</dt>
    <dd id="response-a">0</dd>

    <dt>B</dt>
    <dd id="response-b">0</dd>

    <dt>C</dt>
    <dd id="response-c">0</dd>

    <dt>D</dt>
    <dd id="response-d">0</dd>
  </dl>

  <h4>Actions</h4>
  <button id="present">Present Results</button>
  <button id="clear">Clear and Reset</button>
{% endblock %}

{% block js %}
  <script>
    var socket = io("/manage");

    socket.on('update vote count', function(data) {
      console.log("received update " + JSON.stringify(data));

      // @TODO: So this is a horrible way to do this.
      document.getElementById('response-a').innerText = data.a;
      document.getElementById('response-b').innerText = data.b;
      document.getElementById('response-c').innerText = data.c;
      document.getElementById('response-d').innerText = data.d;
    });

    document.getElementById('present').addEventListener('click', function() {
      socket.emit('present', true);
    });

    document.getElementById('clear').addEventListener('click', function() {
      socket.emit('clear', true);
    });
  </script>
{% endblock %}
