{% extends 'layout.twig' %}

{% block css %}
<link rel='stylesheet' href='/stylesheets/admins.css' />
{% endblock %}

{% block body %}
  <header>
    <h1 class="show-title">Spring Awakening</h1>
  </header>

  <div class="flex">
    <button id="preshow" class="highlight-preshow q">Preshow</button>
    <button id="postshow" class="highlight-postshow q">Postshow</button>
  </div>

  <div class="two-col">
    <div class="col">
      <h2>Questions</h2>
      <table>
        <thead>
          <th>Status</th>
          <th>Question</th>
        </thead>
        <tbody>
          {% for question in questions %}
            <tr>
              <td><button class="question-trigger" id="question-{{ loop.index0 }}" data-index="{{ loop.index0 }}">{{ loop.index0 }}</button></td>
              <td>{{ question }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col">
      <h2>Vote Tallies</h2>
      <table>
        <thead>
          <th>Option</th>
          <th>Answer</th>
          <th>Votes</th>
        </thead>
        <tbody>
          <tr>
            <td>A</td>
            <td class="response-value" id="responase-a"></td>
            <td class="vote-count" id="votes-a"></td>
          </tr>
          <tr>
            <td>B</td>
            <td class="response-value" id="responase-b"></td>
            <td class="vote-count" id="votes-b"></td>
          </tr>
          <tr>
            <td>C</td>
            <td class="response-value" id="responase-c"></td>
            <td class="vote-count" id="votes-c"></td>
          </tr>
          <tr>
            <td>D</td>
            <td class="response-value" id="responase-d"></td>
            <td class="vote-count" id="votes-d"></td>
          </tr>
        </tbody>
      </table>

      <h2>Info</h2>
      <table>
        <tbody>
          <tr>
            <td>Connected Participants</td>
            <td id="connections"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="flex">
    <button id="results" class="highlight-results q">Present Results</button>
    <button id="close" class="highlight-close q">Close Question</button>
    <button id="blackout" class="highlight-blackout toggle-trigger q">Projector Blackout</button>
  </div>

{% endblock %}

{% block js %}
  <script src="/js/admins.js"></script>
{% endblock %}
