{% extends 'layout.twig' %}

{% block css %}
<link rel='stylesheet' href='/stylesheets/admins.css' />
{% endblock %}

{% block body %}
  <div class="fpo-overlay status-dependent preshow">Preshow: You joined the application, we'll tell you when to use it during the show.</div>
  <div class="fpo-overlay status-dependent intro">Intro: This is a status we may not actually need</div>
  <div class="fpo-overlay status-dependent vote">Vote: A question has been opened and you can vote now</div>
  <div class="fpo-overlay status-dependent results">Results: The question is closed and you can see the results now</div>
  <div class="fpo-overlay status-dependent close">Close: Put away your phone</div>
  <div class="fpo-overlay status-dependent postshow">Postshow: Thank you for coming to the show!</div>

  <h1>Stage Manager Deck</h1>

  <h2>Presets &mdash; Before</h2>

  <div class="flex">
    <button id="preshow" class="highlight-preshow">Preshow</button>
    <button id="intro" class="highlight-intro">Intro information</button>
  </div>

  <h2>Questions</h2>

  <!-- @TODO: just a static list at first -->
  <table>
    <thead>
      <th>Status</th>
      <th>Question</th>
    </thead>
    <tbody>
      {% for question in questions %}
        <tr>
          <td><button class="question-trigger" id="question-{{ loop.index0 }}" data-index="{{ loop.index0 }}">{{ loop.index0 }}</button></td>
          <td>{{ question }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Vote Tallies</h2>
  <table>
    <thead>
      <th>Option</th>
      <th>Answer</th>
      <th>Votes</th>
    </thead>
    <tbody>
      <tr>
        <td>A</td>
        <td class="response-value" id="responase-a"></td>
        <td class="vote-count" id="votes-a"></td>
      </tr>
      <tr>
        <td>B</td>
        <td class="response-value" id="responase-b"></td>
        <td class="vote-count" id="votes-b"></td>
      </tr>
      <tr>
        <td>C</td>
        <td class="response-value" id="responase-c"></td>
        <td class="vote-count" id="votes-c"></td>
      </tr>
      <tr>
        <td>D</td>
        <td class="response-value" id="responase-d"></td>
        <td class="vote-count" id="votes-d"></td>
      </tr>
    </tbody>
  </table>

  <h2>Presets &mdash; After</h2>

  <div class="flex">
    <button id="results" class="highlight-results">Present Results</button>
    <button id="close" class="highlight-close">Close Question</button>
    <button id="postshow" class="highlight-postshow">Postshow</button>
  </div>

{% endblock %}

{% block js %}
  <script src="/js/admins.js"></script>
{% endblock %}
