<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/debug.css' />
  </head>
  <body>
    <div class="debug-container">
      <header>
        <h1>{{title}}</h1>
        <a href="/debug">3-up</a> | <a href="/debug/data">Data dump</a>
      </header>
      <main>
        {% block body %}{% endblock %}
      </main>
    </div>

    <div class="fpo-overlay status-dependent preshow">Preshow: You joined the application, we'll tell you when to use it during the show.</div>
    <div class="fpo-overlay status-dependent intro">Intro: This is a status we may not actually need</div>
    <div class="fpo-overlay status-dependent vote">Vote: A question has been opened and you can vote now</div>
    <div class="fpo-overlay status-dependent results">Results: The question is closed and you can see the results now</div>
    <div class="fpo-overlay status-dependent close">Close: Put away your phone</div>
    <div class="fpo-overlay status-dependent postshow">Postshow: Thank you for coming to the show!</div>
    <script src="/socket.io/socket.io.js"></script>
    {% block js %}{% endblock %}
  </body>
</html>
