<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/debug.css' />
  </head>
  <body>
    <div class="container">
      <header><h1>{{title}}</h1></header>
      <main>
        <iframe src="/" frameborder="0"></iframe>
        <iframe src="/present" frameborder="0"></iframe>
        <iframe src="sm" frameborder="0"></iframe>
      </main>
    </div>
  </body>
</html>
