<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    {% block css %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <header><h1>Live Survey Demo</h1></header>
      <main>
        {% block body %}{% endblock %}
      </main>
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  {% block js %}{% endblock %}
</html>
