<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block css %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <main>
        {% block body %}{% endblock %}
      </main>
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  {% block js %}{% endblock %}
</html>
