{% extends 'layout.twig' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6795652/6119812/css/fonts.css" media="print" onload="this.media='all'" />
<link rel='stylesheet' href='/stylesheets/participants.css' />
{% endblock %}


{% block body %}
  <header>
    <h1 class="show-title">Spring Awakening</h1>
  </header>
  <section class="status-dependent preshow">
    <p>
      You have successfully connected! Keep this page ready so you can
      participate. In the meantime, please keep your phone silent and dark until
      prompted to use it during the show.
    </p>
  </section>

  <section class="status-dependent vote results">
    <h2 id="question-text">Question</h2>

    <div id="voting-buttons" class="status-dependent vote voting-buttons">
      <button id="a">A</button>
      <button id="b">B</button>
      <button id="c">C</button>
      <button id="d">D</button>
    </div>

    <div class="status-dependent results">
      <p id="answer-text" class="answer-text results-text"></p>
      <p id="commentary-text" class="commentary-text results-text"></p>
      <p id="citation-text" class="citation-text results-text"></p>
    </div>
  </section>

  <section class="status-dependent close">
    <p>Please turn off your screen and enjoy the continuation of the show.</p>
  </section>

  <section class="status-dependent postshow">
    <h1>Spring Awakening</h1>
    <p>Thank you for joining us for this performance.</p>
  </section>
{% endblock %}

{% block js %}
  <script src="/js/participants.js"></script>
{% endblock %}
