{% extends 'layout.twig' %}

{% block body %}
  <h2>{{title}}</h2>

  <h3>Question</h3>

  <div id="voting-buttons">
    <button id="a">A</button>
    <button id="b">B</button>
    <button id="c">C</button>
    <button id="d">D</button>
  </div>
{% endblock %}

{% block js %}
  <script src="/js/participants.js"></script>
{% endblock %}
