{% extends 'layout.twig' %}

{% block body %}
  <h2>{{title}}</h2>

  <h3>Question</h3>
  <button id="a">A</button>
  <button id="b">B</button>
  <button id="c">C</button>
  <button id="d">D</button>
{% endblock %}

{% block js %}
  <script>
    var socket = io("/participate");

    document.querySelectorAll('button').forEach(function(el){
      el.addEventListener('click', function() {
        socket.emit('vote', this.id);
        console.log("submitted vote " + this.id);
      })
    })
  </script>
{% endblock %}
