{% extends 'layout.twig' %}

{% block body %}
  <h2>{{title}}</h2>

  <h3>Question</h3>
  <button id="a">A</button>
  <button id="b">B</button>
  <button id="c">C</button>
  <button id="d">D</button>
{% endblock %}

{% block js %}
  <script>
    var socket = io("/participate");

    socket.on('new question', function(data) {
      console.log('received order to open new question' + JSON.stringify(data));

      // Put up the question text as the slide title:
      document.querySelector('h3').innerText = data.question;

      // Label the buttons:
      document.querySelectorAll('button').forEach(function(el){
        el.innerText = data.responses[el.id];
      });
    });

    socket.on('clear', function(data) {
      document.querySelectorAll('h3, button').forEach(function(el) {
        el.innerText = el.id.length ? el.id.toUpperCase() : null;
      });
    });

    document.querySelectorAll('button').forEach(function(el){
      el.addEventListener('click', function() {
        socket.emit('vote', this.id);
        console.log("submitted vote " + this.id);
      });
    })
  </script>
{% endblock %}
