{% extends 'layout.twig' %}

{% block css %}
<link rel='stylesheet' href='/stylesheets/participants.css' />
{% endblock %}


{% block body %}
  <header>
    <h1 class="show-title">Spring Awakening</h1>
  </header>
  <section class="status-dependent preshow">
    <p>You have connected! We will tell you how to use it during the show.</p>
  </section>

  <section class="status-dependent intro">
    <h1>Intro</h1>
    <p>PLACEHOLDER: I don't actually know if we have a use for a "screen" between the preshow and actually showing a question.</p>
  </section>

  <section class="status-dependent vote results">
    <h2 id="question-text">Question</h2>

    <div id="voting-buttons" class="status-dependent vote voting-buttons">
      <button id="a">A</button>
      <button id="b">B</button>
      <button id="c">C</button>
      <button id="d">D</button>
    </div>
  </section>

  <section class="status-dependent close">
    <h1>Placeholder Language:</h1>
    <p>Uhhh, put your phone away, we're done for a minute but we'll be right back.</p>
  </section>

  <section class="status-dependent postshow">
    <h1>Spring Awakening</h1>
    <p>Thank you for joining us for this performance.</p>
  </section>
{% endblock %}

{% block js %}
  <script src="/js/participants.js"></script>
{% endblock %}
