{% extends 'layout.twig' %}

{% block body %}
  <h2>{{title}}</h2>

  <h3>Question</h3>

  <dl>
    <dt>A</dt>
    <dd>
      <span class="response-option" id="response-a"></span>
      <span class="results-display" id="results-a"></span>
    </dd>

    <dt>B</dt>
    <dd>
      <span class="response-option" id="response-b"></span>
      <span class="results-display" id="results-b"></span>
    </dd>

    <dt>C</dt>
    <dd>
      <span class="response-option" id="response-c"></span>
      <span class="results-display" id="results-c"></span>
    </dd>

    <dt>D</dt>
    <dd>
      <span class="response-option" id="response-d"></span>
      <span class="results-display" id="results-d"></span>
    </dd>
  </dl>
{% endblock %}

{% block js %}
  <script src="/js/presenters.js"></script>
{% endblock %}
