{% extends 'layout.twig' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6795652/6119812/css/fonts.css" media="print" onload="this.media='all'" />
<link rel='stylesheet' href='/stylesheets/presenters.css' />
{% endblock %}

{% block body %}
  <section class="status-dependent preshow">
    <h1 class="show-title">Spring Awakening</h1>
    {% if website %}
      <p>Please go to {{ website }} to participate in this interactive production.</p>
    {% endif %}
  </section>

  <section class="status-dependent vote results">
    <h1 id="question-text">Question</h1>

    <dl>
      <dt class="response-option" id="response-a">A</dt>
      <dd>
        <span class="results-background"  id="background-a"></span>
        <span class="results-display" id="results-a"></span>
      </dd>

      <dt class="response-option" id="response-b">B</dt>
      <dd>
        <span class="results-background"  id="background-b"></span>
        <span class="results-display" id="results-b"></span>
      </dd>

      <dt class="response-option" id="response-c">C</dt>
      <dd>
        <span class="results-background"  id="background-c"></span>
        <span class="results-display" id="results-c"></span>
      </dd>

      <dt class="response-option" id="response-d">D</dt>
      <dd>
        <span class="results-background"  id="background-d"></span>
        <span class="results-display" id="results-d"></span>
      </dd>
    </dl>

    <p class="citation status-dependent results" id="citation-text"></p>
  </section>

  <section class="status-dependent close">
    <p>Please turn off your screen and enjoy the continuation of the show.</p>
  </section>

  <section class="status-dependent postshow">
    <h1 class="show-title">Spring Awakening</h1>
    <p>Thank you for joining us for this performance.</p>
  </section>

  <div class="blackout-container"></div>
{% endblock %}

{% block js %}
  <script src="/js/presenters.js"></script>
{% endblock %}
