{% extends 'layout.twig' %}

{% block css %}
<link rel='stylesheet' href='/stylesheets/presenters.css' />
{% endblock %}

{% block body %}
  <section class="status-dependent preshow">
    <h1 class="show-title">Spring Awakening</h1>
  </section>

  <section class="status-dependent vote results">
    <h1 id="question-text">Question</h1>

    <dl>
      <dt class="response-option" id="response-a">A</dt>
      <dd>
        <span class="results-background"  id="background-a"></span>
        <span class="results-display" id="results-a"></span>
      </dd>

      <dt class="response-option" id="response-b">B</dt>
      <dd>
        <span class="results-background"  id="background-b"></span>
        <span class="results-display" id="results-b"></span>
      </dd>

      <dt class="response-option" id="response-c">C</dt>
      <dd>
        <span class="results-background"  id="background-c"></span>
        <span class="results-display" id="results-c"></span>
      </dd>

      <dt class="response-option" id="response-d">D</dt>
      <dd>
        <span class="results-background"  id="background-d"></span>
        <span class="results-display" id="results-d"></span>
      </dd>
    </dl>
  </section>

  <section class="status-dependent close">
    <h1>Placeholder Language</h1>
    <p>Put yer phones up until next time!</p>
  </section>

  <section class="status-dependent postshow">
    <h1>Spring Awakening</h1>
    <p>Thank you for joining us for this performance.</p>
  </section>
{% endblock %}

{% block js %}
  <script src="/js/presenters.js"></script>
{% endblock %}
