@import 'style.scss';

.container {
  font-size: 1em;
}

table {
  margin: 0 auto;
  width: 100%;
  max-width: 30em;
}

thead {
  border-bottom: 1px solid #999;
}

th {
  font-weight: inherit;
}

tr {
  border-bottom: 1px solid #EEE;
}

td {
  vertical-align: middle;
  padding: 0.25em;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
}

.flex button {
  flex: 1 1 0;
}

.question-trigger, .q {
  padding: 1em;
}

.status-preshow .highlight-preshow,
.status-intro .highlight-intro,
.status-vote .highlight-vote,
.status-results .highlight-results,
.status-close .highlight-close,
.status-postshow .highlight-postshow,
.question-trigger.active {
  background: green;
  color: white;
}

.status-results .question-trigger.active {
  background: orange;
}
