@import 'style.scss';

.container {
  display: block;
}

header {
  margin: 0 auto;
}

.two-col {
  @media screen and (min-width: 600px) {
    display: flex;

    .col {
      flex: 1 1 50%;
      padding: 1em;
    }
  }
}

header {
  max-width: 400px;
}
.show-title:after {
  content: "Stage Manager Deck";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-indent: 0;
}

table {
  margin: 0 auto;
  width: 100%;
  max-width: 30em;
}

thead {
  border-bottom: 1px solid #333;
}

th {
  font-weight: inherit;
}

tr {
  border-bottom: 1px solid #333;
}

td {
  vertical-align: middle;
  padding: 0.25em;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.flex button {
  flex: 1 1 0;
  max-width: 400px;
}

.question-trigger, .q {
  padding: 0.5em 1em;
}

.toggle-trigger {
  position: relative;

  &:before {
    content: " ";
    position: absolute;
    top: -.75em;
    bottom: -.75em;
    left: -.75em;
    right: -.75em;
    border: 1px solid #999;
  }

  &:after {
    content: " TOGGLE ";
    position: absolute;
    top: -1.5em;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.75em;
    background: black;
    color: #eee;
    letter-spacing: 3px;
    padding: 0 .5em;
  }
}

.status-preshow .highlight-preshow,
.status-vote .highlight-vote,
.status-results .highlight-results,
.status-close .highlight-close,
.status-postshow .highlight-postshow,
.question-trigger.active {
  background: rgb(0,170,0);
  background: linear-gradient(180deg, rgba(0,170,0,1) 0%, rgba(0,102,0,1) 100%);
  border-color: #006600;
  color: white;
}

.presenter-blackout .highlight-blackout,
.status-results .question-trigger.active {
  background: rgb(255,153,0);
  background: linear-gradient(180deg, rgba(255,153,0,1) 0%, rgba(204,102,0,1) 100%);
  border-color: #996600;
}
