body {
  background: white;
  color: black;
}
.debug-container {
  margin: 1em auto 3em auto;
  text-align: center;
  padding: 1em;
}

header {
  margin-bottom: 2em;

  a {
    font-weight: bold;
  }
}

iframe {
  width: 360px;
  height: 680px;
  border: 1px solid #ddd;
  margin: 1em;
}

textarea {
  width: 50vw;
  height: 60vh;
  border: 1px solid #ddd;
}

.fpo-overlay {
  position: fixed;
  bottom: 1em;
  left: 1em;
  padding: 1em;
  font-size: 0.75em;
  background: red;
  color: white;
}
