.debug-container {
  margin: 1em auto 3em auto;
  text-align: center;
  padding: 1em;
}

iframe {
  width: 360px;
  height: 680px;
  border: 1px solid #CCC;
  margin: 1em;
}

textarea {
  width: 50vw;
  height: 60vh;
}

.fpo-overlay {
  position: absolute;
  bottom: 1em;
  left: 1em;
  right: 1em;
  padding: 1em;
  font-size: 0.75em;
  background: red;
  color: white;
}
