@import 'style.scss';

body {
  font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B";
  font-style: normal;
  font-weight: 500;
}

.container {
  display: block; // No flexbox / vertical-center here because of the jump when toolbars disappear
  max-width: 40em;
  margin: 0 auto;
  min-height: 0;
  padding: 2em 1em;
}

body {
  background: #1d1820 url(/gfx/participants-background.gif) center center no-repeat;
}

.show-title {
  max-width: 25em;
}

h2 {
  text-align: left;
  margin: 0.75em auto;
  font-size: 1.5em;
}

.results-text {
  margin-bottom: 1em;

  &:empty {
    display: none;
  }
}

.answer-text {
  color: #009900;
  font-size: 1.5em;
  font-weight: bold;
}

.citation-text {
  font-style: italic;
  font-size: 0.875em;
}

.voting-buttons {
  .status-vote & {
    display: flex;
  }

  flex-wrap: wrap;

  button {
    flex: 1 0 40%;
    margin: 0.125em;
    padding: 0.5em;
    font-size: 2em;

    font-family: "Surveyor SSm A", "Surveyor SSm B";
    font-style: normal;
    font-weight: 700;

    &:empty,
    &:disabled {
      display: none;
    }
  }

  .active {
    background: rgb(188,121,255);
    background: linear-gradient(180deg, rgba(188,121,255,1) 0%, rgba(86,43,129,1) 100%);
    border-color: rgba(86,43,129,1);
    color: white;
  }
}
