@import 'style.scss';

.answer-text {
  color: #009900;
  font-size: 1.5em;
  font-weight: bold;
}

.voting-buttons {
  .status-vote & {
    display: flex;
  }

  flex-wrap: wrap;

  button {
    flex: 1 0 40%;
    margin: 0.125em;
    padding: 0.5em;
    font-size: 2em;
  }

  .active {
    background: rgb(188,121,255);
    background: linear-gradient(180deg, rgba(188,121,255,1) 0%, rgba(86,43,129,1) 100%);
    border-color: rgba(86,43,129,1);
    color: white;
  }
}
