@import 'style.scss';

dl {
  width: 100%;
  max-width: 30em;
  dt {
    display: block;
    float: left;
    clear: left;
    width: 25%;
  }

  dd {
    display: block;

    .response-option, .results-display {
      display: inline-block;
    }
  }
}
