@import 'style.scss';

.blackout-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  color: black;
  z-index: 1000;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.presenter-blackout .blackout-container {
  opacity: 1;
}

.container {
  position: relative;
  font-size: 1.5em;
  padding: 0.5em;
}

.show-title {
  width: 80%;
  width: 80vw;
}

#question-text {
  font-size: 2.5em;
  margin: 0 auto 0.5em 0;
}

p {
  font-size: 3em;
}

dl {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  width: 80%;
  width: 80vw;
  font-size: 1.5em;
  margin: 0 auto;

  .status-vote & {
    display: block;
    text-align: center;
  }

  dt, dd {
    margin: 0 0 0.5em 0;
    text-align: left;
  }

  dt {
    flex: 1 0 auto;
    width: 25%;
    font-size: 1.75em;
    align-self: center;

    .status-vote & {
      width: 100%;
      text-align: center;
    }

    &.disabled, &.disabled + dd {
      display: none;
    }
  }

  dd {
    position: relative;
    flex: 3 0 auto;
    width: 75%;
    padding: 0.125em 0.75em;
    background-color: #111;
    border: 1px solid #444;
    .status-vote & {
      background-color: 0;
      display: none;
    }
  }

  .results-background {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #999;
    z-index: 1;
  }

  .results-display {
    display: block;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
  }
}

.citation {
  margin-top: 1em;
  font-style: italic;
  font-size: 0.875em;
  text-align: right;
}

.status-results .response-option.correct {
  color: green;
  font-weight: bold;
}

.status-results .response-option.correct + dd .results-background {
  background-color: #393;
}
