// Basic reset since this will be very intentionally styled.
// Pulled from cladocar/CSS-Mini-Reset
/* CSS Mini Reset */

html,body,div,form,fieldset,legend,caption,label,h1,h2,h3,h4,h5,h6,p,blockquote,pre {
  font-size: 100%;
  font-weight: normal;

  margin: 0;
  padding: 0;

  vertical-align: baseline;

  border: 0;
  outline: 0;
  background: transparent;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

th,td {
  text-align: left;
  vertical-align: top;
}

img {
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}
// END RESET

body {
  font-family: Helvetica, Arial, sans-serif;
  background: black;
  color: white;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1em;
}

// Here's a really cheap shot to pull this up.
.status-dependent { display: none; }
.status-preshow .preshow { display: block; }
.status-vote .vote { display: block; }
.status-results .results { display: block; }
.status-close .close { display: block; }
.status-postshow .postshow { display: block; }
.status-dependent { display: none; }

// Global elements

button {
  display: block;
  padding: 0.25em 0.5em;
  margin: 0.5em 1em;

  border: 1px solid #666;
  background: rgb(187,187,187);
  background: linear-gradient(180deg, rgba(187,187,187,1) 0%, rgba(136,136,136,1) 100%);
  border-radius: 4px;
  outline: none;

  font-family: inherit;

  &:hover {
    background: rgb(221,221,221);
    background: linear-gradient(180deg, rgba(221,221,221,1) 0%, rgba(153,153,153,1) 100%);
  }

  &[disabled] {
    color: #888 !important;
    border-color: #AAA;
    background: #CCC;
  }
}

.show-title {
  position: relative;
  text-indent: 100%;
  overflow: hidden;
  height: 0;
  padding-top: (200/700)*100%;
  background: transparent url(../gfx/title.svg) center center no-repeat;
  background-size: contain;
}

h1, h2, h3 {
  margin: 1em auto;
  font-weight: bold;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

p {
  font-size: 1.125em;
}
